.why_us_section,  p, h4 {
  text-align: center;
}

.why_us_p_tags {
  font-size: 16px;
  color: teal;
}

.why_us_h4 {
  font-size: 20px;
  font-family: cursive;
  font-weight: 900;
}

.why_us_img {
  position: relative;
  margin: auto;
}
